- name: setup google credentials
  if: env.SECRET_GOOGLE_CREDENTIALS
  shell: bash
  working-directory: ${{ env.GITHUB_WORKSPACE }}
  run: |
    mkdir -p gdrive
    echo "${{ env.SECRET_GOOGLE_CREDENTIALS }}"  > secret.b64
    openssl base64 -d -A -in secret.b64 -out gdrive/credentials.json
    echo "GDRIVE_CREDENTIALS=`pwd`/gdrive/credentials.json" >> $GITHUB_ENV
